<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.SearchEngineDemo.mapper.DictMapper">

    <update id="batchUpdateDict" parameterType="list">
        <foreach collection="string" item="item" separator=";">
            UPDATE word_dict
            SET positions = concat(ifnull(positions, ''), ',', #{item.position})
            WHERE name = #{item.word}
        </foreach>
    </update>

</mapper>